
<html>
    <img src="\assets\Capture2.PNG" width="100%" height="100%" align="CENTER"alt="Banner here" />

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/addstd" routerLinkActive="active"
          >Add Student</a
        >
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/editstd" routerLinkActive="active"
          >Edit Student</a
        >
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewstd" routerLinkActive="active"
          >View Student</a
        >
      </li>
    </ul>
    
</html>