
<h4>Driver details</h4>

<ul class="nav">
  <li class="nav-item" color=black>
    <a class="nav-link" routerLink="/addDvr" routerLinkActive="active"
      >Add Driver</a
    >
  </li>


  <li class="nav-item">
    <a class="nav-link" routerLink="/updateDvr" routerLinkActive="active"
      >Update Driver</a
    >
  </li>


  <li class="nav-item">
    <a class="nav-link" routerLink="/viewdvr" routerLinkActive="active"
      > Driver list</a
    >
</ul>
<img src="\assets\bg.png" width="100%" height="50%" align="CENTER"alt="Banner here" />



